.cell {
  width: 15vh;
  height: 15vh;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  margin: 3px;
  align-items: center;
  color: #776e65;
  font-weight: 600;
  font-size: 30px;
}
